.sidebar {
  min-width: 306px;
  padding: 17px 16px 20px 16px;
  border-right: 3px solid #f6f6f6;
}

.menu {
  padding: 8px 0 8px 0;
}

.rectangle {
  width: 4px;
  height: 32px;
  background-color: #fff;
  display: inline-block;
  border-radius: 12px;
}

.rectangle-dropdown {
  width: 2px;
  height: 16px;
  background-color: #fff;
  display: inline-block;
  border-radius: 12px;
}
